body {
  background-color: rgb(2, 79, 2);
}
.playerCardDec, 
.dealerCardDec {
  display: inline-block;
}
.playerCard,
.dealerCard {
  display: inline-block;
}
.Card {
  width: 100px;
  border-radius: 10px;
}

.hide {
  display: none;
};
.gameButton {
  color: rgb(255, 0, 0);
  padding: 10px;
}