* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(gambig-background.png);
  background-size: cover;
}

/* GENERAL ELEMENTS */

/* header for high-low and blackjack */
.header {
  display: flex;
  width: 96%;
  justify-content: space-evenly;
  color: white;
  background-color: black;

  padding-inline: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-inline: 1%;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

/* amount of money */
.scoreBoard-js {
  width: auto;
  font-size: 50px;
  color: white;
}

/* class for div with money in it */
.money {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* div for the dealer + player cards */
.playerCard, .dealerCard {
  display: flex;
  flex-direction: column;
  margin-inline: 30px;
}

/* name of game */
.name {
  width: 150px;
  margin-top: 5px;
}

/* container for both of the cards */
.cards {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

/* text above cards */
.playerCardDec, .dealerCardDec {
  display: inline-block;
  color: white;
}

/* card images */
.Card {
  width: 100px;
  border-radius: 10px;
}

/* style for all the buttons on the page */
button {
  width: auto;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
	
	border-style: solid;
	border-width: 3px;
	background-color: rgb(199, 2, 2);
	border-color: gold;
	color: white;
	border-radius: 10px;
}

/* div for all the buttons below the cards */
.buttons {
  margin-top: 20px;
  width: 100%;
}

/* class that hides an element */
.hide {
  display: none !important;
}

/* GENERAL ELEMENTS END */



/* HIGHLOW SPECIFIC ELEMENTS */

/* start and reset buttons for highlow */
.buttonStart, .buttonReset {
	font-size: 40px;
}

/* gambling buttons for highlow */
.start-btns, .gamble-btns, .guess-btns {
  display: flex;
  flex-direction: row;
	justify-content: center;
}

/* HIGHLOW SPECIFIC ELEMENTS END */



/* BLACKJACK SPECIFIC ELEMENTS */

.dealerCards-js, .playerCards-js {
  display: inline-block;
}

.win-js, .lose-js {
  color: white;
}

.dealBJButton-js, .betOpts, .playOpts, .win-js, .lose-js {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* BLACKJACK SPECIFIC ELEMENTS END */



/* INDEX ELEMENTS */

/* button for what game to pick in index */
.gameButton {
  color: rgb(255, 0, 0);
  padding: 10px;
}

/* INDEX ELEMENTS END */