* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(gambig-background.png);
  background-size: cover;
}

.header {
  display: flex;
  width: 96%;
  justify-content: space-evenly;
  color: white;
  background-color: black;

  padding-inline: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-inline: 1%;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.scoreBoard-js {
  width: auto;
  font-size: 50px;
  color: white;
}

.money {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerCard, .dealerCard {
  display: inline-block;
  margin-inline: 30px;
}

.name {
  width: 150px;
  margin-top: 5px;
}

.cards {
  display: flex;
  justify-content: center;
  
  margin-top: 20px;
}

.playerCardDec, .dealerCardDec {
  display: inline-block;
  color: white;
}

.Card {
  width: 100px;
  height: 150px;
  border-radius: 10px;
}

button, .gameOpts {
  width: auto;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
	
	border-style: solid;
	border-width: 0px;
	background-color: rgb(49, 46, 46);
	border-color: gold;
	color: white;
	border-radius: 10px;
}

.buttons {
  margin-top: 20px;
  width: 100%;
}

.buttonStart, .buttonReset {
	font-size: 40px;
}

.start-btns, .gamble-btns, .guess-btns {
  display: flex;
  flex-direction: row;
	justify-content: center;
}

.hide {
  display: none;
}

.gameOpts {
  color: rgb(255, 0, 0);
  padding: 0px 0px 0px 0px;
  display: block;
  width: 300px;
}
a {
  text-decoration: none;
  color:rgb(255, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: block;
  padding: 10px;
}
img {
  border-radius: 10px 10px 0px 0px;
  width:300px;
  margin: 0;
  height: 200px;
}
.gameGrid {
  margin-top: 30px ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 20px;
  row-gap: 40px;
 
}
.title {
  padding: 10px;
}
.gameLink {
  padding: 0%;
}
.slot {
  background-color: rgb(49, 46, 46);
  border-radius: 10px;
  color: white;
  font-size: 70px;
  margin: 10px;
  padding: 10px;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}
.containerSlots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 100px;
}
.homebutton {
  background-color: rgb(49, 46, 46);
  border-radius: 10px;
  color: white;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  height: 100px;
  width: auto;
  position: absolute ;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.win-js .lose-js{
  color:rgb(255, 255, 255)
}